{% extends 'base.html' %}

{% block content %}

{% load humanize %}

{% load crispy_forms_tags %}

<div class="text-center">
    <b>Confirm Delete</b>
    <p>Are you sure you want to delete payment method <b>"{{ expense_method.name }} - {{ expense_method.balance | intcomma }}"</b> ?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-sm btn-danger"> <i class="fa fa-trash"></i> Delete</button>
        <a href="{% url 'expense-method-list' %}" class="btn btn-sm btn-secondary"> <i class="fa fa-ban"></i> No</a>
    </form>
</div>
{% endblock %}