{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}

<h1>Items</h1>
<div class="row">
    <div class="col-lg-6">
        <div class="row">
            <p>Item List</p>
        </div>
        <div class="row">
            <em>* Click an item to edit or remove</em>
            <p class="font-secondary">
                {% for item in items %}
                {% if not forloop.last %}
                <a href="{% url 'item-update' pk=item.id %}">{{ item }},</a>
                {% else %}
                <a href="{% url 'item-update' pk=item.id %}">{{ item }}</a>
                {% endif %}
                {% empty %}
                No items found.
                {% endfor %}
            </p>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="row">
            <p>Add an Item</p>
        </div>
        <div class="row">
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-xs btn-primary">Save</button>
                <a href="{% url 'item-list' %}" class="btn btn-xs btn-secondary">Reset</a>
                {% url 'item-update' pk=item.id as url_for_edit %}
                {% if request.get_full_path == url_for_edit %}
                <a class="btn btn-xs btn-danger" href="{% url 'item-delete' pk=item.id %}">Delete</a>
                {% endif %}
            </form>
        </div>
    </div>
</div>

{% endblock %}




