{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}
<div class="col-md-6 col-sm-6 mx-auto">
    <b class="text-center">Password Reset</b>
    <p>Enter the email associated with your account to reset your password.</p>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="form-group">
            <button class="btn btn-sm btn-primary" type="submit"> <i class="fa fa-bolt"></i> Reset Password</button>
        </div>
        <a href="{% url 'login' %}" class="btn btn-sm btn-link">Cancel</a>
    </form>
</div>
{% endblock %}